@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: darkgray;
    background-image: url(pacote-d013/imagens/fundo-madeira.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
iframe{
    width: 330px;
    height: 630px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}
