@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
::-webkit-scrollbar{
    width: 0;
    height: 0;
}
img{
    width: 100vw;
}
a{
    display: block;
    background-color: brown;
    color: white;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding: 10px;
}
a:hover{
    background-color: red;
    text-decoration: underline;
}