@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
html, body{
    height: 100vh;
    width: 100vw;
    background-color: blue;
}
body{
    background: darkgray url(../pacote-d013/imagens/fundo-madeira.jpg) center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
main{
    position: relative;
    height: 100vh;
}
#phone{
    width: 311px;
    height: 627px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(../pacote-d013/imagens/frame-iphone.png) center center no-repeat;
}
#home{
    position: relative;
    top: 80px;
    left: 22px;
    width: 267px;
    height: 471px;
}
#sociais{
    text-align: right;
}
#sociais img{
    width: 50px;
    margin: 20px 10px 0px 0px;
    border-radius: 50%;
    box-shadow: 3px 5px 5px black;
    box-sizing: border-box;
}
#sociais img:hover{
    border: 1px solid white;
    transform: translate(-5px, -3px);    
    box-shadow: 5px 8px 10px black;
}